@import "animations/_loading";

form.search {
    .field {
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        width: 100%;

        .control {
            width: 100%;
        }
    }
}

#featuredHomes {

    .home {
        color: #FFF;

        height: 200px;

        background: #FFF;
        padding: 0.25em;
        margin: 0.25em;

        border-radius: 5px;

        position: relative;

        .hero {
            width: 100%;
            height: 100%;
            position: relative;
            top: 0;
            left: 0;
        }

        .info {
            position: absolute;
            left:0;
            bottom:0;
            padding: 0.5em;

            .address {
                font-weight: bold;
                font-size: 1.2em;
            }

            .price {
                font-weight: bold;
            }
        }
        &.loading {
            .hero {
                @include loadingIndefinite;
            }

            .info {
                display: none;
            }
        }
    }
}

#homes {
    .home {
        .hero {
            width: 100%;
            height: 100%;
        }

        &.loading {
            .hero {
                @include loadingIndefinite;
            }

            .info {
                color: rgba(0,0,0,0);

                p {
                    margin: 0.25em;
                    @include loadingIndefinite;
                }
            }
        }
    }
}
